<% provide :title, t(".home") %>
<main>
  <div class="container">
    <%= render "static_pages/demo" %>
    <div class="col-xs-12 nopadding" id="product_list_item">
      <div class="title">
        <h3><%= t ".mobile" %></h3>
      </div>
      <div class="">
        <h4><%= t ".total", products: @products.count%></h4>
      </div>
      <div id="product" class="col-xs-12 nopadding">
        <div id="product_list" class="col-xs-12 nopadding">
          <%= render partial: "product", collection: @products, as: :p %>
        </div>
        <%= paginate @products, theme: "twitter-bootstrap-3" %>
      </div>
    </div>
  </div>
</main>
