<div id="admin">
  <div class="col-xs-12 ">
    <div class="col-xs-4">
      <div class="col-xs-12 bg-danger">
        <div class="icon">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <div>
          <h3><%= t "total_users: " %></h3>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="col-xs-12 bg-primary">
        <div class="icon">
          <span class="glyphicon glyphicon-list-alt"></span>
        </div>
        <div>
          <%= t "total_products:" %>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="col-xs-12 bg-success">
        <div class="icon">
          <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>
        <div>
          <%= t "total_carts:" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <br>
    <%= form_tag chart2_path, method: :get, remote: true do %>
    <%= text_field_tag :daterange, params["daterange"], class: "form-control" %>
    <%= submit_tag "Search",class: "btn btn-primary"%>
  <% end %>
  </div>
  <div class="col-xs-12">
    <div id="chart">
      <%= render "total_product" %>
    </div>
  </div>
</div>


