<% provide :title, t(".all-products") %>
<%= render "admins/admin_menu" %>
<div class="col-md-9" id="manager">
  <div class="col-xs-12 nopadding" id="title_manager">
    <div class="col-xs-6">
      <h4><%= t(".all-products") %></h4>
    </div>
  </div>
  <div class="col-xs-12 nopadding center-info">
    <div class="col-xs-12">
      <%= pie_chart @product_chart.count %>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
    <div id="filter" class="col-xs-12">
      <div class="col-xs-12 nopadding">
        <h4><%= t "filter_product" %></h4>
      </div>
      <div class="col-xs-12 nopadding">
        <%= render "admins/product_filter" %>
      </div>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-12">
        <div class="pull-right">
          <%= link_to new_product_path, class: "btn btn-primary" do %>
            <%= t ".new" %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </div>
        <table class="table table-hover table-striped">
          <thead id="products_admin">
            <%= render "admins/product_sort" %>
          </thead>
          <tbody id="product_list_admin">
            <%= render partial: "admins/product_all", collection: @products,
              as: :p %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 nopadding" id="paginator">
    <%= paginate @products, theme: "twitter-bootstrap-3", remote: true %>
  </div>
</div>
