<% provide :title, t(".cart") %>
<div class="center-info col-xs-12">
  <% @cart_item.cart_items.each do |c| %>
  <div class="col-xs-12">
    <div class="col-xs-3 nopadding">
      <%= image_tag c.product.image %>
    </div>
    <div class="col-xs-5">
      <div class="col-xs-12">
        <h2><%= c.product.name %></h2>
      </div>
      <div class="col-xs-12">
        <h3><%= t(".quantity") %><%= c.quantity %></h3>
      </div>
    </div>
    <div class="col-xs-4">
      <h3><%= t(".price") %><%= t ".product_price", price: c.total_price %></h3>
    </div>
  </div>
  <% end %>
  <hr class="col-xs-12 nopadding">
  <div class="col-xs-4 pull-right">
    <h2><%= t(".total") %><%= t ".product_price", price: @cart_item.cart_price %></h2>
  </div>
  <div class="col-xs-12 nopadding">
    <div class="col-xs-5 nopadding pull-right">
      <div class="col-xs-6">
        <%= link_to t(".remove_cart"),@cart_item , method: :delete,
          data: {confirm: t(".you_sure")}, class: "btn btn-danger" %>
      </div>
      <div class="col-xs-6">
        <%= link_to t(".pay"),@cart_item , method: :put,
          class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
