<div class="col-xs-6 product-list-item">
  <div class="col-xs-6">
    <%= image_tag product.image,class: "img-responsive" %>
  </div>
  <div class="col-xs-6 nopadding">
    <div class="col-xs-12 nopaading">
      <h4><b><%= product.name %></b></h4>
    </div>
    <div class="col-xs-12 nopaading">
      <%= t ".quantity" %><%= product.quantity %>
    </div>
    <div class="col-xs-12 nopaading">
      <%= t ".price" %><%= t(".product_price", price: product.price) %>
    </div>
    <div class="col-xs-12 nopaddding">
      <div class="col-xs-6">
        <%= link_to edit_product_path(product.id), class: "btn btn-success" do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      </div>
      <div class="col-xs-6">
        <span class="">
          <%= link_to product, method: :delete, data:
            {confirm: t(".sure")}, class: "btn btn-danger" do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
