<% provide :title, t(".all-products") %>
<%= render "admin/admin_menu" %>
<div class="col-md-8 " id="manager">
  <div class="col-xs-12" id="title_manager">
    <div class="col-xs-6">
      <h4><%= t(".all-products") %></h4>
    </div>
    <div class="pull-right">
      <%= link_to new_product_path, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 nopadding center-info">
    <%= render partial: "products", collection: @products, as: :product %>
  </div>
  <div class="col-xs-12 nopadding">
    <%= paginate @products, theme: "twitter-bootstrap-3" %>
  </div>
</div>
