<% provide :title, @product.name %>
<div class="container">
  <aside class="col-md-12 nopadding">
    <section class="user_info">
      <div class="col-md-3">
         <%= image_tag @product.image, class: "img-responsive"%>
      </div>
      <div class="col-md-8">
        <div>
          <h1><%= @product.name %></h1>
          <br>
          Description: <%= @product.description %>
          <br>
          Quantity: <%= @product_info["quantity"] %>
          <br>
          Visual Effects: <%= rating_for @product, "visual_effects",
          enable_half: true, disable_after_rate: false %>
        </div>
        <% if current_user %>
          <%= form_for @cart, url:save_cart_path do |f| %>
            <%= f.hidden_field :product_id, value: @product.id,
              class: "form-control" %>
            <%= f.hidden_field :price, value: @product.price,
              class: "form-control", id: "price"%>
            <%= f.hidden_field :image, value: @product.image,
              class: "form-control", id: "price"%>
            <%= f.hidden_field :description, value: @product.description,
              class: "form-control", id: "price"%>
            <div class="col-xs-3 nopadding">
              <div class="input-group">
                <span class="input-group-btn">
                   <span id="down" class="btn btn-primary">-</span>
                </span>
                <%= f.text_field :quantity, value: 0, class: "form-control",
                  id: "quantity", readonly: true %>
                <span class="input-group-btn">
                  <span id="up" class="btn btn-primary">+</span>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Price</span>
                <%= f.text_field :total_price, value: 0,
                  class: "form-control total_price", readonly: true %>
                <span class="input-group-addon">$</span>
              </div>
            </div>
            <div class="col-xs-3">
              <%= f.submit t(".add_cart"), class: "btn btn-primary" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
  </aside>
</div>
